@charset "UTF-8";

/* boardList :start */
.tabs {
	display: flex;
	justify-content: center;
}

.tabs li {
	margin: 20px;
	padding-bottom: 8px;
}

.tabs li.active {
	border-bottom: 2px solid var(--point-color);
}

.tabs li a {
	font-size: 20px;
}

.news ul {
	padding-bottom: 50px;
}

.news .emptyList {
	text-align: center;
	padding-top: 26px;
}

.news li {
	display: flex;
	align-items: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom: 1px solid #404040;
	padding: 20px 0;
	cursor: pointer;
}

.news li p {
	color: #fff;
	margin-bottom: 0;
}

.news li .date {
	color: #888;
	padding-top: 4px;
	font-size: 14px;
}

.news li .right {
	margin-left: auto;
}

.news li .views {
	color: #888 !important;
	padding-top: 4px;
	text-align: right;
}

.icon {
	padding-right: 8px;
	color: #888 !important;
}
/* boardList :end */

/* boardDetail */
.board p img {
	width: 100% !important;
}

.board.container {
	margin-top: 0;
	margin-bottom: 0;
}

.reply {
	margin-top: 48px;
}

textarea {
	display: block;
	width: 100%;
	height: 90px;
	border: 1px solid #000;
	outline: 0;
	font-size: 15px;
	padding: 10px 12px;
	line-height: 22px;
	margin-bottom: 16px;
	font-family: 'Apple SD Gothic Neo', 'AppleSDGothicNeo';
	resize: none;
	color: #000 !important;
}

textarea::placeholder {
	color: #aaa;
}

#frm {
	padding-bottom: 86px;
}

/* boardReplyList */
#replyList {
	margin-top: 36px;
}

#replyList .empty_li {
	border-bottom: none;
	text-align: center;
}

#replyList .li_inner {
	display: flex;
	border-bottom: 1px solid #404040;
	color: #fff;
}

#replyList li .content {
	word-break: break-all;
} 

#replyList li .likes {
	color: #888;
	text-align: right;
	cursor: pointer;
}

#replyList .btn_show, .btn_hide {
	text-align: right;
	font-size: 0;
	margin: 8px 0 16px 0;
}

#replyList .btn_hide {
	display: none;
}

/* pagination */
.pagination {
	justify-content: center;
	align-items: center;
	margin-top: 48px;
}

.pagination li {
	position: relative;
}

.pagination li a {
	display: block;
	width: 24px;
	height: 20px;
	text-align: center;
}

.pagination li.active a {
	color: var(--point-color) !important;
	font-weight: 600;
}

.pagination .arrow {
	position: absolute;
    top: 50%;
    left: 50%;
	display: block;
	border-top: 1px solid currentColor;
	border-left: 1px solid currentColor;
	width: 10px;
	height: 10px;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.pagination .arrow2 {
	left: 6px;
}

.pagination .arrow.right {
	transform: translate(-50%, -50%) rotate(135deg);
}

.pagination .arrow.right.arrow2 {
	left: 18px;
}

