@charset "UTF-8";

.Navigator {
    position: relative;
    margin: 60px auto 0;
    border-bottom: 1px solid #efefef;
}
.Navigator nav ul {
    list-style: none;
    display: flex;
}
.Navigator nav ul li.item {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    text-align: center;
}
.Navigator nav ul li.item > a {
    color: #ccc;
    text-decoration: none;
}
.Navigator nav ul li.item.on {
    border-bottom: 4px solid #000;
}
.Navigator nav ul li.item.on > a {
    color: #000;
}
.InfoBox {
    margin: 20px 0;
    padding: 20px 0;
}
.InfoBox select,
.InfoBox input {
    padding: 15px;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.InfoBox input::placeholder {
    color: #777;
}
.InfoBox input.date-lookup {
    color: #777;
    text-align: left;
}
.InfoBox input.date-lookup::placeholder {
    color: gray;
}
.InfoBox button {
    padding: 15px 25px;
    margin-right: 20px;
    color: #fff;
    background-color: #777;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.InfoBox button.btn-download {
    float: right;
    padding: 15px 10px 15px 40px;
    margin-right: 20px;
    color: #777;
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: url("./excel.png") no-repeat center left;
    background-size: 30%;
}
.transaction {
    border-collapse: collapse;
    border-spacing: 0;
}
.transaction th {
    color: gray;
    font-weight: 600;
    padding: 20px 5px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    text-align: center;
}
.transaction td {
    padding: 30px 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.transaction th:nth-child(1) {
	width: 10%;
}

.transaction th:nth-child(2) {
	width: 5%;
}

/* page2 */
.TotalBox {
    width: 100%;
    margin-top: 30px;
    background-color: #efefef;
    border-radius: 15px;
}
.TotalBox .Total-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.TotalBox .Total-table td {
    padding: 25px -1px 25px 100px;
    text-align: left;
}
.TotalBox .Total-table td.num {
    padding-left: 0;
}
.TotalBox .Total-table td.fir-td {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    vertical-align: middle;
}
.TotalBox .Total-table td.fir-td small {
    font-size: 20px;
}
.TotalBox .Total-table td.fir-td p:first-child  {
    color: #818181;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: -1.5px;
}
.TotalBox .Total-table td.fir-td p:last-child  {
    color: #000;
    font-size: 20px;
    font-weight: 600;

}
.total-number {
}
.asset {
    margin-top: 50px;
    border-collapse: collapse;
    border-spacing: 0;
}
.asset th {
    color: gray;
    font-weight: 600;
    padding: 20px 5px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}
.asset td {
    padding: 30px 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.display_flex {
	display: flex;
}
.right {
	margin-left: auto;
	padding-right:50px;
}

.left p {
	color: black;
	padding-left: 50px;

}
.right p {
	text-align:right;
	color: black;
}
.coin_name {
	padding-left: 50px;
}
.assets_coin_time {
	color: black;
}
.assets_coin_percent_color {
	color: blue;
}
td {
	font-color: black;
}
.Total-table tr td { 
	color: black;
}
.my_assets {
	text-align: center;
	padding-right: 30px;
}
.assets_name {
	font-size: 25px;
	padding-right: 30px;
}
#tab2 {
	margin-right: 83px;
}
.asset {
	margin-top: 0px;
}
.stock_name {
	padding-left: 50px;
	padding-top: 13px;
}